tagFormat: ${version}
repositoryUrl: "https://ianrayllh@bitbucket.org/limelighthealth/limelighte2e.git"
branches:
  - master
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/changelog"
  - "@semantic-release/git"
